Draghts/Service References/DraughtsServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Draught" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Draught" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="PortalCallBack" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="loggedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="opponent" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Piece">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrespondingBS" type="xs:int" />
      <xs:element minOccurs="0" name="XCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="YCoordinate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Piece" nillable="true" type="tns:Piece" />
  <xs:complexType name="ArrayOfPiece">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Piece" nillable="true" type="tns:Piece" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPiece" nillable="true" type="tns:ArrayOfPiece" />
</xs:schema>