Draghts/Service References/DraughtsServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Draught" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Draught" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Draught/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Draught/Service1/?xsd=xsd0" namespace="Draught" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Draught/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Draught/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Draught" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortal_signUp_InputMessage">
    <wsdl:part name="parameters" element="tns:signUp" />
  </wsdl:message>
  <wsdl:message name="IPortal_signUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:signUpResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IPortal_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_Invite_InputMessage">
    <wsdl:part name="parameters" element="tns:Invite" />
  </wsdl:message>
  <wsdl:message name="IPortal_Invite_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_logOut_InputMessage">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="IPortal_logOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:logOutResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPortal_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetlistOfPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetlistOfPlayers" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetlistOfPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetlistOfPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_OnLoggingInOrOut1_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLoggingInOrOut1" />
  </wsdl:message>
  <wsdl:message name="IPortal_OnLoggingInOrOut1_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLoggingInOrOut1Response" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_changeLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:changeLocation" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_changeLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_makeMove_InputMessage">
    <wsdl:part name="parameters" element="tns:makeMove" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_makeMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:makeMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_quitGame_InputMessage">
    <wsdl:part name="parameters" element="tns:quitGame" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_quitGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:quitGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_getPieceList_InputMessage">
    <wsdl:part name="parameters" element="tns:getPieceList" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_getPieceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPieceListResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortal">
    <wsdl:operation name="signUp">
      <wsdl:input wsaw:Action="Draught/IPortal/signUp" message="tns:IPortal_signUp_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IPortal/signUpResponse" message="tns:IPortal_signUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="Draught/IPortal/logIn" message="tns:IPortal_logIn_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IPortal/logInResponse" message="tns:IPortal_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Invite">
      <wsdl:input wsaw:Action="Draught/IPortal/Invite" message="tns:IPortal_Invite_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IPortal/InviteResponse" message="tns:IPortal_Invite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:input wsaw:Action="Draught/IPortal/logOut" message="tns:IPortal_logOut_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IPortal/logOutResponse" message="tns:IPortal_logOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="Draught/IPortal/Subscribe" message="tns:IPortal_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IPortal/SubscribeResponse" message="tns:IPortal_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetlistOfPlayers">
      <wsdl:input wsaw:Action="Draught/IPortal/GetlistOfPlayers" message="tns:IPortal_GetlistOfPlayers_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IPortal/GetlistOfPlayersResponse" message="tns:IPortal_GetlistOfPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLoggingInOrOut1">
      <wsdl:output wsaw:Action="Draught/IPortal/OnLoggingInOrOut1" message="tns:IPortal_OnLoggingInOrOut1_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Draught/IPortal/OnLoggingInOrOut1Response" message="tns:IPortal_OnLoggingInOrOut1_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGamePlay">
    <wsdl:operation name="changeLocation">
      <wsdl:input wsaw:Action="Draught/IGamePlay/changeLocation" message="tns:IGamePlay_changeLocation_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IGamePlay/changeLocationResponse" message="tns:IGamePlay_changeLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="Draught/IGamePlay/sendMessage" message="tns:IGamePlay_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IGamePlay/sendMessageResponse" message="tns:IGamePlay_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="makeMove">
      <wsdl:input wsaw:Action="Draught/IGamePlay/makeMove" message="tns:IGamePlay_makeMove_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IGamePlay/makeMoveResponse" message="tns:IGamePlay_makeMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="quitGame">
      <wsdl:input wsaw:Action="Draught/IGamePlay/quitGame" message="tns:IGamePlay_quitGame_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IGamePlay/quitGameResponse" message="tns:IGamePlay_quitGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPieceList">
      <wsdl:input wsaw:Action="Draught/IGamePlay/getPieceList" message="tns:IGamePlay_getPieceList_InputMessage" />
      <wsdl:output wsaw:Action="Draught/IGamePlay/getPieceListResponse" message="tns:IGamePlay_getPieceList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>