Draghts/Service References/DraughtsServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Draught" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Draught" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Piece">
    <xs:sequence>
      <xs:element minOccurs="0" name="XCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="YCoordinate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Piece" nillable="true" type="tns:Piece" />
  <xs:complexType name="BoardSquare">
    <xs:sequence>
      <xs:element minOccurs="0" name="XCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="YCoordinate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoardSquare" nillable="true" type="tns:BoardSquare" />
</xs:schema>